.languagePage
{
    margin: 0;
    padding: 0;
    height: 100vmin;
    background: linear-gradient(to right, #191654, #43c6ac); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.headingC{
    margin: 20px;
    padding: 10px;
    display: flex;
    @media screen and (max-width: 600px) {

        display: block;
        img{
            width: 85vw;
            height: 15vh;
        }

  }
    background-color: #0e141e;
    color: white;

}

.contentC{
    margin: 40px;
}

.problemsC{
    margin: 40px;
}

.backC{
    background-color: #02729e;
    margin: 10px;
    margin-left: 20px;
    width: 100px;
    padding: 5px;
    box-shadow: 2px 2px 18px white;
    border: none;
    color: white;
    border-radius: 20px;
    
}

.card{
    background-color: #0e141e;
    margin-left: auto;
    margin-right: auto;
    color:white;
    margin-bottom: 20px;
    &:hover{
        transform: scale(1.03);
    }

    button{
        background-color: #02729e;
        box-shadow: 2px 2px 18px rgb(1, 230, 93);
        margin: 10px;
        margin-left: 20px;
        width: 100px;
        padding: 5px;
        border: none;
        color: white;
        border-radius: 20px;
    }
}

.BasicLevel{
    background-color: #B08D57;
}

.MediumLevel{
    background-color: #C0C0C0;
}

.HardLevel{
    background-color: rgb(163, 4, 4);
}
