@media (min-width: 350px) and (max-width: 767px) {
    .ExamStartBlock{
        display: block;
    }
    .ExamStartBlock{
        width: 100%;
    }
    .ExamInstructions{
        width: 100%;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .ExamStartBlock{
        display: flex;
    }
    .ExamStartBlock{
        width: 100%;
    }
    .ExamInstructions{
        width: 100%;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .ExamStartBlock{
        display: flex;
    }
    .ExamStartBlock{
        width: 100%;
    }
    .ExamInstructions{
        width: 100%;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .ExamStartBlock{
        display: flex;
    }

    .ExamStartBlock{
        width: 100%;
    }
    .ExamInstructions{
        width: 100%;
    }

}

.ExamStartBlock{
    height: fit-content;
}


.ExamStartSidebar{
    padding: 12%;
    background-color: white;

    .TestInfo{
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }
}

.ExamInstructions{
    padding: 12%;
    padding-top: 10%;
    background-color: #ececec;
}

.startExamButton{
    background-color: #011333;
    margin: 20px;
    width: 100px;
    padding: 5px;
    color: white;
    box-shadow: 3px 5px 18px white;
    border: none;
    border-radius: 20px;
    
}