
@media (min-width: 350px) and (max-width: 767px) {
    .ExamEndScreen{
        margin: 100px;
        display: block;
    }

    .successTestMessage{
        width: 100%;
        font-size: 1.5vw;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .ExamEndScreen{
        margin: 100px;
        display: flex;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .ExamEndScreen{
        margin: 100px;
        display: flex;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .ExamEndScreen{
        margin: 100px;
        display: flex;
    }

    .successTestMessage{
        width: 100%;
        margin: 1.5vw;
    }
}

.ExamEndScreen{
    
}



.successTestButton{
    background-color: #011333;
    margin: 20px;
    width: 200px;
    padding: 5px;
    color: white;
    box-shadow: 3px 5px 18px white;
    border: none;
    border-radius: 20px;
    
}

.CodingCat{
    margin-top: 10vh;
    img{
        width: 50vw;
    }
}
