
.Login-Main{
  .signup-container{
    padding: 2rem;
    margin-bottom:10vh ;
  
    .line-breaker .line {
      width: 50%;
      height: 1px;
      background: #eee;
    }
    .line-breaker {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ccc;
    
      margin: 2rem 0;
    }
    .line-breaker span:nth-child(2) {
      margin: 0 2rem;
    }
  
  .span-blue{
      color:#2196f3;
    }
  
   
  .signup-form{
    display: flex;
    margin-left: -0.5rem;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
  }
  
  .LoginLink{
    color: #2196f3;
    text-decoration: none;
  }
  
  
  .signIn-inp{
    display: flex;
    gap: 10px;
    align-items: center;
    background: #eee;
    border-radius: 4vh;
    font-size: 2vh;
    padding: 1rem;
    input{
      width: 100%;
      border: none;
      background: #eee;
      outline: none;
    }
  
    .input-icon{
      font-size: 4vh;
    }
  
    
  
  }
  
  .btn-google {
    color: #222;
    background: #fff;
    border: solid 1px #2196f3;
    padding: 1.5rem;
  
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-shadow: 0 1px 2px #00000020;
  }
  
  .Login-btn {
    padding: 1rem 1rem;
    border: none;
    background: #2196f3;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
  }
  .btn-login {
    align-self: flex-end;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 5px 5px #00000020;
  }
  .btn-login:active {
    box-shadow: none;
  }
  .btn-login:hover {
    background: #2180f9;
  }
  
  }

}