.mainpageback{
  margin:0;
  padding: 0;
    
}
.tab-content { overflow: hidden; }

.userInfo{
    text-align: center;
    margin : 20px;
    padding: 20px;
    color: white;
}

.Languages{
    margin: 50px; 
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.CardLang
{
    width: 100%;
    align-items: center;
    padding: 20px;
    background-color: #32194c;
    border-radius: 10vw;
    color: white;
    cursor: pointer;
}

.CardLang:hover{
    box-shadow: 5px 10px 18px black;
    color: white;
    transform: scale(1.05);
}



.nav-tabs .nav-link.active, .nav-tabs{
    background-color: rgb(13, 13, 73);
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 100px;
}

.nav-tabs .nav-link{
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 100px;
}
.nav-link{
    color: #0099ff;
    background-color: #0099ff;

    &:hover{
        color: #ffffff;
    }
}

li.nav-item{
    background-color: white;
    border: none;
}


.ta{
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5;
  transition: all .3s ease-in-out;
  font-family: "Josefin Sans", Arial;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.card{
  min-height: 475px;
  width: 80vw;
  border-radius: 40px;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.card .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #ddd;
}

.card .header .title{
  font-weight: 300;
}

.one .sort{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14.1px;
}

.one .sort .day{
  padding: 0.4rem 1.2rem;
  margin: 0 0.1rem;
  cursor: pointer;
}

.one .sort .day.active,
.one .sort .day:active{
  background: rgba(210, 255, 213, 0.3);
  border-radius: 25px;
}

::selection{
  background: rgba(210, 255, 213, 0.3);
}

.photo{
  width: 75px;
  background: #fff;
  border-radius: 50%;
  margin: 1rem 0;
}

.main{
  width: 85px;
}

.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2em;
  margin-bottom: 2em;
}

.profile .person{
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile .person.first{
  z-index: 10;
  transform: translateY(-10%);
}

.first .fa-crown{
  color: gold;
  filter: drop-shadow(0px 0px 5px gold);
}

.num{
  color: white;
}

.fa-caret-up{
  color: cyan;
  font-size: 21px;
}

.link{
  margin: 0.2rem 0;
  color: #fff;
  margin-top: -0.3rem;
  font-size: 13px;
}

.points{
  color: cyan;
  font-size: 17px;
}

.second{
  margin-right: -0.7rem !important;
}

.third{
  margin-left: -0.7rem !important;
}

.p_img{
  width: 50px;
  background: #fff;
  border-radius: 50%;
}

.flex{
  display: flex;
  align-items: center;
}

.others{
  display: flex;
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  width: 200px;
  background: rgba(210, 255, 213, 0.3);
}

.info .points{
  margin-left: 0.2rem;
  margin-right: 1.2rem;
}

.info .link{
  margin: 0 1rem;
}

.rank{
  display: flex;
  align-items: center;
  margin: 0 1rem;
  flex-direction: column-reverse;
}

.rank i{
  margin-top: -5px !important;
}

.rank .num{
  margin: 0 !important; 
}
}