.mainpageback{
  margin:0;
  padding: 0;
    
}


.userInfo{
    text-align: center;
    margin : 20px;
    padding: 20px;
    color: white;
}

.Languages{
    margin: 50px; 
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.CardLang
{
    width: 100%;
    background: black;
    color: white;
    align-items: center;
    padding: 20px;
    border-radius: 10vw;
    cursor: pointer;
}

.card.one
{
  border-radius: 20px;
}
.CardLang:hover{
    box-shadow: 5px 10px 18px black;
    transform: scale(1.05);
    transition: 1s ;
}





