@media (min-width: 350px) and (max-width: 767px) {
    .problemportal{
        display: block;
    }
    

    .sidebarcontent{
        width: 100%;
        font-size: 2vh;
    }

    .compiler{
        width: 100%;
    }

    .fontslider{
        width: 300px;
    }

    .navbarcompiler{
        display: block;
        align-items: center;
        h5{
            font-size: 10px;
            margin-top:10px;
        }

    .css-1s2u09g-control
    {
        width: 400px;
        height: 30px;
        align-items: center;
    }
    .css-6j8wv5-Input{
        width: 100px;
        height: 30px;
        align-items: center;
    }
    }

    .BackP{
        margin-top:40px;
        margin-bottom: 40px;
    }

    .InteractionMenu{
        display: none;
    }

    .end-btn{
        margin-left: auto;
        margin-right: auto;
    }

    


}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .problemportal{
        display: flex;
    }

    .sidebarcontent{
        width: 30%;
    }

    .compiler{
        width: 70%;
    }

    .fontslider{
        width: 5vw;
    }

    .BackP{
        margin-top:50px;
        margin-bottom: 50px;
    }
    .navbarcompiler{
        display: flex;
        align-items: center;
    }

    .end-btn{
        margin-left: auto;
        margin-right: auto;
    }

    

}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .problemportal{
        display: flex;
    }

    .sidebarcontent{
        width: 30%;
    }

    .compiler{
        width: 70%;
    }
    .fontslider{
        width: 5vw;
    }
    
    .BackP{
        margin-top:50px;
        margin-bottom: 50px;
    }
    .navbarcompiler{
        display: flex;
        align-items: center;
    }

}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .problemportal{
        display: flex;
    }

    .sidebarcontent{
        width: 30%;
    }

    .compiler{
        width: 70%;
    }

    .BackP{
        margin-top:50px;
        margin-bottom: 50px;
    }
    .navbarcompiler{
        display: flex;
        align-items: center;
    }
    .fontslider{
        width: 5vw;
    }

}


.sidebarcontent{
    padding: 20px;
    height: fit-content;
    padding: 20px;
}

.compiler{
    padding: 20px;
}

.problemportal{
    background-color: #0e141e;
    color: white;
}

.css-1s2u09g-control
{
    align-items: center;
}
.css-6j8wv5-Input{
    align-items: center;
}

.navbarcompiler{
    gap: 20px;
    background-color: #011333;
    color: black;
    padding: 20px;

    .languageHeader{
        color: white;
    }
    .languageTheme{
        color: white;
    }
    .languageFont{
        color: white;
    }

    .TimerDiv{
        color: white;
    }
}



.lowerbox{
    display: flex;
    background-color: #011333;

    .input-box{
        width: 60%;
        textarea{
            background-color: black;
            color: white;
            width: 90%;
            height: 150%;
        }
    }

    .output-box{
        width: 60%;
        pre{
            background-color: black;
            color: white;
            width: 90%;
            height: 150%;
        }
    }

}

.run-btn{
    background-color: #011333;
    float: right;
    margin: 20px;
    width: 100px;
    padding: 5px;
    box-shadow: 3px 5px 18px white;
    border: none;
    color: white;
    border-radius: 20px;
}


.end-btn{
    background-color: #011333;
    margin: 20px;
    width: 100px;
    padding: 5px;
    box-shadow: 3px 5px 18px white;
    border: none;
    color: white;
    border-radius: 20px;
}

.ExpectedOutput{
    padding: 20px;
    background-color: #011333;
}



.Comments{

    .CommentSection{
        width: 100%;
        height:200px;
        background-color: white;
        overflow: hidden;
        overflow-y: auto;
        color:black;
        padding: 20px;

        .commentdiv{
            background-color: #011333;
            color: white;
            padding: 10px;
            margin: 1%;
            border-radius: 20px;

        }
    }

    #comment{
        margin: 20px;
        padding: 5px;
        
    }

    .Commentpost{
        margin-top: 10px;
        background-color: #011333;
        display: flex;

        input{
            border-radius: 20px;
            padding: 2%;
            width: 50%
        }
        button{
        background-color: #011333;
        float: right;
        margin: 20px;
        width: 130px;
        padding: 5px;
        box-shadow: 3px 5px 18px white;
        border: none;
        color: white;
        border-radius: 20px;
    
        }
    }
}

.commentdiv{

    .commenttext{
        margin: 20px;
       
    }

    .commentsubdiv{
        display: flex;
        align-items: center;
        gap: 20px;
        
        img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    }
}

.InteractionMenu{
    display : flex;
    align-items: center;
    float: right;
    p{
        margin-top: 15px;
        margin-left: 5px;
    }

    .inp{
        width: 20px;

        &:focus{
            background-color: #011333;
        }
    }
    
}

.NoOutputCase{
    display: none;
}
.BackP{
    box-shadow: 3px 5px 18px white;
    background-color: #011333;
    color: white;
    width: 100%;
    border-radius: 10px;
}

.OutputCase
{
    background-color: #1d2432;
    margin-top: 90px;
    padding: 20px;
    
    .Success{
        color: greenyellow;
        .BackO{
            width: 100px;
            padding: 5px;
            border-radius: 100px;
        }
        .resInfoS{
            display: block;
        }
        .resInfoF{
            display: none;
        }
    }
    .Failure{
        color: red;
        .BackO{
            display: none;
        }
        .resInfoF{
            display: block;
        }
        .resInfoS{
            display: none;
        }
    }

    .ErrorMessage{
        background-color: rgb(33, 33, 33);
        color: white;
        padding: 20px;
        margin: 20px;
    }

    .SuccessMessage{
            background-color: rgb(33, 33, 33);
            color: white;
            padding: 20px;
            margin: 20px;
    }

    
}

.DisplayInput{
    display: block;
}

.DisplayInput1{
    display: block;
    margin-bottom: 30px;
}

.NoDisplayInput{
    display: none;
    
}

.code-inp{
    width: 400px;
    height: 400px;
}



