

  
.SignIn-Main{
    .signin-container{
      padding: 2rem;
    
    .span-blue{
        color:#2196f3;
      }
    
     
    .signup-form{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      margin-left: -0.5rem;
      height: max-content;
      justify-content: center;
    }
    
    .LoginLink{
      color: #2196f3;
      text-decoration: none;
    }
    
    
    .signUp-inp{
      display: flex;
      gap: 10px;
      align-items: center;
      background: #eee;
      border-radius: 4vh;
      font-size: 2vh;
      padding: 1rem;
      input,textarea{
        width: 100%;
        border: none;
        background: #eee;
        outline: none;
      }
    
      .input-icon{
        font-size: 4vh;
      }
    
      
    
    }
    

    .SignUp-btn {
      padding: 1rem 1rem;
      border: none;
      background: #2196f3;
      color: #fff;
      border-radius: 1rem;
      cursor: pointer;
      font-family: inherit;
      font-weight: 500;
      font-size: inherit;
    }
    .btn-login {
      width: 100%;
      margin-top: 2rem;
      box-shadow: 0 5px 5px #00000020;
    }
    .btn-login:active {
      box-shadow: none;
    }
    .btn-login:hover {
      background: #2180f9;
    }
    
    }
  
  }
  