.SignUp{
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    line-height: 1rem;
    color: #1a1a1a;
    font-size: 1.2rem;
    overflow-x: hidden;
  }
  a {
    color: #2196f3;
    text-decoration: none;
  }
  
  .container {
    display: grid;
    grid-template-rows: minmax(min-content, 100vh);
    grid-template-columns: repeat(2, 55vw);
  }
  .heading-secondary {
    font-size: 3rem;
    margin-top: -40px;
    font-weight: bolder;
  }
  .heading-primary {
    font-size: 3rem;
    font-weight: bolder;
  }
  .span-blue {
    color: #2196f3;
  }
  .signup-container,
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70vw;
  }
  .signup-container {
    width: 100%;
    padding: 5rem 2rem;
    align-items: flex-start;
    justify-content: flex-start;
  
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .signup-form {
    max-width: 45rem;
    width: 100%;
  }
  .text-mute {
    color: #aaa;
  }
  
  .input-text {
    font-family: inherit;
    font-size: 1rem;
    padding: 3rem 4rem 1rem 2rem;
    border: none;
    border-radius: 2rem;
    background: #eee;
  }
  .input-text:focus {
    outline-color: #2196f3;
  }
  
  .btn {
    padding: 2rem 2rem;
    border: none;
    background: #2196f3;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: inherit;
  }
  .btn-login {
    align-self: flex-end;
    width: 100%;
    margin-top: 2rem;
    box-shadow: 0 5px 5px #00000020;
  }
  .btn-login:active {
    box-shadow: none;
  }
  .btn-login:hover {
    background: #2180f9;
  }
  .inp {
    position: relative;
  }
  .label {
    pointer-events: none;
  
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: #00000070;
    font-weight: 500;
    font-size: 1.3rem;
  
    transition: all 0.2s;
    transform-origin: left;
  }
  .input-text:not(:placeholder-shown) + .label,
  .input-text:focus + .label {
    top: 0.7rem;
    transform: scale(0.75);
  }
  .input-text:focus + .label {
    color: #2196f3;
  }
  
  .input-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: #00000070;
  }
  .input-icon-password {
    cursor: pointer;
  }
  
  .btn-google {
    color: #222;
    background: #fff;
    border: solid 1px #2196f3;
    padding: 1.5rem;
    width: 80vw;

  
    display: flex;
    justify-content: center;
    align-items: center;
  
    box-shadow: 0 1px 2px #00000020;
  }
  
  .btn-google img {
    width: 2rem;
    margin-right: 1rem;
  }
  
  .login-wrapper {
    min-width: 45rem;
    width: 100%;
  }
  .line-breaker .line {
    width: 50%;
    height: 1px;
    background: #eee;
  }
  .line-breaker {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
  
    margin: 2rem 0;
  }
  .line-breaker span:nth-child(2) {
    margin: 0 2rem;
  }
  
  .welcome-container {
    background: #eeeeee75;
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    
    
  }
  .lg {
    font-size: 3rem;
  }
 


  @media only screen and (max-width: 700px) {
    html {
      font-size: 54.5%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .signup-container {
      padding: 5rem;
    }
  }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 48.5%;
    }
  
    .input-text:not(:placeholder-shown) + .label,
    .input-text:focus + .label {
      top: 0.6rem;
      transform: scale(0.75);
    }
    .label {
      font-size: 1.9rem;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .signup-container {
      grid-column: 1 / 3;
      grid-row: 1/3;
    }
    .welcome-container {
      display: block;
    }
  }
  
}