

.NoWarning{
  display: none;
}

._0stWarning{
  color: rgb(91, 238, 0);
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 1px 1px 20px white;
}

._1stWarning{
  color: yellow;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 1px 1px 20px white;
}


._2ndWarning{
  color: orange;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  width: 250px;
  box-shadow: 1px 1px 20px white;
}

._3rdWarning{
  color: rgb(255, 102, 0);
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 1px 1px 20px white;
}

._4thWarning{
  color: rgb(255, 0, 0);
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 1px 1px 20px white;
}


._5thWarning{
  color: rgb(75, 0, 0);
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  box-shadow: 1px 1px 20px white;
}