.greet{

  margin: 10px;
}
.noofuser{
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;

    &.fix{
      min-height: 400px;
    }
}