.addQuePage{
input,select,textarea {
    display: block;
    height: 50px;
    width: 90%;
    color: black;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 0 10px;
    margin: 20px;
  
    font-size: 14px;
    border-left: 0px solid #0001;
    border-right: 0px solid #0001;
    border-top: 0px solid #0001;
    border-bottom: 2px solid #0001;
   
  }

 .AdminFormButton {
    margin: 50px;
    width: 90%;
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 15px 0;
    font-size: 2vh;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 1px 1px 20px violet;
  }
}