@media (min-width: 350px) and (max-width: 767px) {
    .Login{
        display: block;
        .LoginImg{
            width: 100vw;
            height: 300px;
        }
        form{
          width: 80vw;
          margin: 5vw;
        }
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode */
  @media (min-width: 768px) and (max-width: 1024px){
    .Login{
        display: flex;
        .LoginImg{
            width: 50vw;
            height: 300px;
            margin-top: 10vw;
            margin-left: 5vw;
        }
        form{
          width: 40vw;
        }
    }
  }
  
  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px){
    .Login{
        margin-top:3vw;
        display: flex;
        .LoginImg{
            width: 500px;
            height: 400px;
            margin-top: 10vw;
            margin-left: 5vw;
        }
        form{
          width: 40vw;
          margin-top: 10vw;
        }
    }
  }
  
  /* Media Query for Large screens */
  @media (min-width: 1281px) {
    .Login{
        margin-top:3vw;
        display: flex;
        .LoginImg{
            margin-left: 6vw;
            margin-right: 3vw;
            width: 600px;
            height: 500px;
        }
        form{
          width: 30vw;
          width: 30vw;
        }
    }
  }
  
  .Login {
    background-size: cover;
    background-repeat: no-repeat;
    
  form {
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.03);
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: black;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
  }
  form * {
    font-family: "Poppins", sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  form h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #650576;
  }
  
  label {
    display: block;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
  }
  input {
    display: block;
    height: 50px;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 0 10px;
    margin: 20px;
  
    font-size: 14px;
    border-left: 0px solid #0001;
    border-right: 0px solid #0001;
    border-top: 0px solid #0001;
    border-bottom: 2px solid #0001;
   
  }
  ::placeholder {
    color: gray;
  }
  
  input:hover{
    border-left: 0px solid #0001;
    border-right: 0px solid #0001;
    border-top: 0px solid #0001;
    border-bottom: 2px solid #0001;
  }
  button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 0;
    font-size: 2vh;
    font-weight: 600;
    cursor: pointer;
  }
  
  .pass{
      display: flex;
  }
  
  input.smallerCheckbox {
      width: 20px;
      height: 20px;
  }
  }