.dataTest{
    .languageSection{
        .LangCerti{
            padding: 20px;
            background-color: white;
            color: black;
            text-shadow: 1px 1px 20px violet;
            margin-left: 40px;
            margin-top: 10px;
            width: 60vw;
            border-radius: 30px;
        }

        .NoData{
            color: black;
            background-color: white;
            border-radius: 30px;
            width: 60vw;
            padding: 30px;
            margin-left: 40px;
            margin-bottom: 40px;
            
        }

        .ApproveCard{
           color: black;
           background-color: white;
           border-radius: 30px;
           width: 60vw;
           padding: 30px;
           margin-left: 40px;
           margin-bottom: 40px;
        }

        .Approve{
                width: 100%;
                background-color: greenyellow;
                border-radius: 30px;
                color: black;
                margin: 15px;
                padding: 15px 0;
                font-size: 2vh;
                font-weight: 900;
                cursor: pointer;
                box-shadow: 1px 1px 20px green;
        }


        .Reject{
            width: 100%;
            background-color: red;
            border-radius: 30px;
            color: black;
            margin: 15px;
            padding: 15px 0;
            font-size: 2vh;
            font-weight: 900;
            cursor: pointer;
            box-shadow: 1px 1px 20px red;
    }
    }

    
  
}

